* {box-sizing: border-box;}

html, body {
  background:var(--bg-color);
  scroll-behavior: smooth;
  font-family: 'Questrial', sans-serif;
  margin: 0;
  height: 100%;
  background-image: url('../assets/img/ruche.jpg');
  /* position:fixed; */
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.icon_profil {
  font-size: 11vw;
  color: black;
  margin-right: 2vw;
}

.icon_graph{
  font-size: 7vw;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {
  background: url('../assets/img/profil.png');
  color: white;
}

.header-right {
  float: right;
}

.container {
  display:flex;
  flex-direction: column;
  margin: auto;
  height:100%;
}

.pre_title {
  margin: 0 auto;
}

.title {
  margin : 0 auto;
}

#bouton-sticky {
  position:fixed;
  bottom:2%;
  right:3%;
  z-index:9999;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background-color: #ffc108;
  border: 3px solid white;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.095) 0px 3px 8px;
  border-radius: 6vw;
  padding: 5%;
  margin: 3% 7%;
  height:auto;
  background-color: #d9d9d9;
}

.health {
  display: flex;
  flex-direction:row;
}

.ruche_img{
  height:29vw;
  margin: auto auto auto 2vw;
}

.data{
  display: flex;
  flex-direction: column;
  margin:0 auto;
  text-align: right;
}

#test {
  display: flex;
  flex-direction: row;

}

#temp {
  display: flex;
  flex-direction: column;
  font-size: 8vw;
}

.sun{
  height:25vw;
  margin: auto auto auto 2vw;
}

.population{
  display: flex;
  flex-direction:column;
  width: 50vw;
}

.production {
  display: flex;
  flex-direction:column;
  width: 50vw;
}

.bee_img{
  height:20vw;
  margin: auto;
}

.honey_img{
  height:20vw;
  margin: auto;
}

#degre{
  font-size: 10vw;
  color: #545454;
  margin: 0; 
}

#meteo {
  margin-top: 2px;
  font-size: 5vw;
  color: #2c2c2c;
  text-align: right;
}

.humidity {
  display: flex;
  flex-direction: row;
  margin:0;
}

#humidity {
  font-size: 8vw;
  color: #545454;
  font-weight: 600;
}

.drop{
  height:10vw;
  margin: auto 2vw auto 2vw;
}

.bottom{
  display: flex;
  flex-direction:row;
  margin:auto;
}

#pop_number{
  font-size: 10vw;
  font-weight: 600;
  color: #545454;
  margin: 2vw auto auto auto;
}

#pop_text{
  margin:2vw auto 0vw auto;
  font-size: 4.5vw;
  color: #545454;
  text-align: center;
}

#text{
  color: #545454;
  font-size: 4.5vw;
}

#production_number{
  font-size: 10vw;
  font-weight: 600;
  color: #545454;
  margin: auto;
}

#production_text{
  margin:2vw auto 0vw auto;
  font-size: 4.5vw;
  color: #545454;
  text-align: center;
}

/* .inlineBox {
  background-color: #d9d9d9;
  display: inline-block;
  align-content: center;
  width: 49%;
  max-height: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 2vw;
  padding: 5%;
} */

